/*CSS for Team Kirk Transportation
 *To be used with foundation css
 *CSS included in this file overrides founndation css 
 */

  .rowFull {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  }

/* Panels */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #4b91f2;
  color: #333333; 
  border-radius: 20px;
  }

.mainImage{
   width:40em; /*width of your image*/
   height:40em; /*height of your image*/
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50;
  padding-top: 50;
   padding:10; /*if your want to padding */
}

.title{
  text-align: center;
}


.innerContent{
  display: block;
  width:70em;
  margin-left: auto;
  margin-right:auto;
  background-color: #E4FF4D;
}

.header-banner{
  background-color: #B3B3B3;
  height:950px;
}

.top-banner-row{
   background-color: #333333;
}

.bottom-back{
  background-color: #333333;
}
.bar{
  color: black;
}

.mapRow{
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
position: absolute;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#navi, 
#infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#infoi {
    z-index: 10;
}

#map {
  width: 100%;
  height: 950px;
}
.info-table-title{
  
  text-align: center;
  height: 50px;
  background-color: #4b91f2;

}

.info-table{
  
  width: 100%;
  text-align: center;
  border: solid 10px #4b91f2;
  margin-bottom: 0px;
  border-bottom-left-radius: 1em; 
  border-bottom-right-radius:1em;

}

.info-table-cell{
  text-align: center;
  height: 50px;
}

.info-table-header{
  
  width: 100%;
  text-align: center;
  border: solid 10px #4b91f2;
  margin-bottom: 0px;
  border-radius: 1em;
  
} 

.clock{
  margin-left:auto; 
  margin-right:auto; 
  margin-bottom: 2em; 
  width: 95%;
}


  .large-4point5 {
    width: 37.33333%; }

 #addressBox{
  min-width: 220px;
 }



@media screen and (max-width: 1270px) {

    /*.home-featured .clock { margin: 0 auto; display: block; width: 322px; }*/
    .home-featured h1 { font-size: 1.6em; }

    .flip-clock-wrapper ul { height: 50px; line-height: 50px; margin: 3px; }
    .flip-clock-wrapper ul li a div.up:after { top: 24px; }
    .flip-clock-divider { height: 50px; }
    .flip-clock-dot { height: 6px; width: 6px; left: 7px;}
    .flip-clock-dot.top { top: 17px; }
    .flip-clock-dot.bottom { bottom: 8px; }

    .flip-clock-divider .flip-clock-label { font-size: 16px; }
    .flip-clock-divider.days .flip-clock-label { right: -76px; }
    .flip-clock-divider.hours .flip-clock-label { right: -70px; }
    .flip-clock-divider.minutes .flip-clock-label { right: -64px; }
    .flip-clock-divider.seconds .flip-clock-label { right: -70px; }

    .flip-clock-wrapper ul { width: 37px; }
    .flip-clock-wrapper ul li {line-height: 50px;}
    .flip-clock-wrapper ul li a div div.inn { font-size: 38px; }

    /* Korekcja położenia pól zegara załamanych do nowej linii */
    .flip-clock-wrapper ul { margin-bottom: 35px; }
    .flip-clock-wrapper { margin-bottom: -35px; }
}

.flip-clock-divider.minutes { clear: none;}

@media screen and (max-width: 550px) {

    .flip-clock-divider.minutes { clear: left;} /* break clock at minutes */

}